<div *ngIf="childrenTime.length !=0" class="child">
  <select id="childSelect" [disabled] = "isReading || isPlaying || hasChanged" [(ngModel)]="selectedChild" (ngModelChange)="onChange($event)" class="btn play">
    <option *ngFor="let c of childrenTime" [ngValue]="c">{{c.name}}</option>
    <option value="add_child">+ Ajouter un enfant</option>
    </select>    
</div>

<div class='timer'>
  <h3>{{selectedChild!.name}}, Il te reste :</h3>
  <h2>{{timer}}</h2>
<h3>de Switch cette semaine</h3></div>

<div class="gauge">
  <div class="gauge__body">
    <div class="gauge__fill"></div>
    <div class="gauge__cover"></div>
  </div>
</div>

<div *ngIf="!timesUp && !isMaxTime && !isPlaying && !isReading" class="noblink">Temps Disponible</div><div *ngIf="timesUp" class="blink">Temps écoulé</div><div *ngIf="isMaxTime" class="noblinkmax">Temps Maximum Atteint</div><div *ngIf="isPlaying" class="blinkmax">Jeu en cours...</div><div *ngIf="isReading" class="blinkread">Lecture en cours...</div>

<div class='control'>
  <button class="btn" [disabled] = "isReading || isPlaying || isMaxTime" (click) = startReading()>Lecture Start</button><button class="btn red" [disabled] = !isReading (click)= stopReading()>Lecture Stop</button>
</div>

<div class='control'>
  <button class="btn" [disabled] = "isReading || isPlaying || isMaxTime"  (click) = smallBonus()>Bonus +10min</button><button class="btn red" [disabled] = "isReading || isPlaying || timesUp"  (click) = smallPenalty()>Malus -10min</button>
</div>

<div class="action">
  <button (click) = startPlaying() [disabled] = "isReading || timesUp || isPlaying" class="btn play">Switch Start</button><button (click) = stopPlaying() [disabled] = "!isPlaying" class="btn red">Switch Stop</button>
</div>

<div class = 'admin'>
  <button class="btn red" [disabled] = "isReading || isPlaying || timermiliHistory.length ===0 "  (click) = cancelChange()>Annuler ({{timermiliHistory.length}})</button>
  <button class="btn play" [disabled] = " !hasChanged || isReading || isPlaying" (click) = saveTimer()>Enregistrer</button>
</div>

<div class = 'message'>
  <p>{{message}}</p>
</div>

<div class = 'admin'>
  <button class="btn red" [disabled] = "isReading || isPlaying"  (click) = resetTimer()>Réinitialiser</button>  <button class="btn red" [disabled] = "isReading || isPlaying"  (click) = removeChild()>Supprimer</button>
</div>